{% extends 'base.html' %}
{% block content %}

  <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Book Shop</p>
                </div>
            </div>
        </header>
        <div class=" container ">
            <div class="row">
                <center>
                    <div class="col-8"
                         <br/><br/>
                    <p align="justify">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Hac habitasse platea dictumst vestibulum rhoncus est. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Purus gravida quis blandit turpis cursus in hac. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Tincidunt augue interdum velit euismod in. Bibendum est ultricies integer quis auctor elit sed vulputate mi. Pellentesque pulvinar pellentesque habitant morbi tristique. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Aliquet eget sit amet tellus. Vestibulum sed arcu non odio. Facilisis leo vel fringilla est ullamcorper eget. Commodo sed egestas egestas fringilla phasellus. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Cras sed felis eget velit aliquet sagittis. Maecenas volutpat blandit aliquam etiam erat.
                    <br/><br/>
Vitae auctor eu augue ut lectus. Vulputate dignissim suspendisse in est ante in. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Eu nisl nunc mi ipsum faucibus. Tellus orci ac auctor augue. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Lorem mollis aliquam ut porttitor. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Gravida arcu ac tortor dignissim convallis aenean et. Facilisis magna etiam tempor orci eu. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Pharetra et ultrices neque ornare aenean. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Dolor sit amet consectetur adipiscing. Nisi vitae suscipit tellus mauris a diam maecenas sed. Venenatis urna cursus eget nunc scelerisque. Dui faucibus in ornare quam.
                    <br/><br/>
Elit eget gravida cum sociis natoque. Vitae justo eget magna fermentum iaculis eu non diam. Venenatis cras sed felis eget velit aliquet sagittis id. Magna fermentum iaculis eu non diam phasellus. Bibendum at varius vel pharetra. Neque vitae tempus quam pellentesque. Tincidunt dui ut ornare lectus sit amet est placerat. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Proin libero nunc consequat interdum varius. Eu scelerisque felis imperdiet proin. Lacus sed viverra tellus in hac. Dignissim suspendisse in est ante in. Ut morbi tincidunt augue interdum velit euismod. Vitae congue eu consequat ac.
                </p>
                    <br/><br/>
                    </div>
                </center>


            </div>



        </div>
{% endblock %}